.button {
  height: 50px;

  margin-top: 64px;
  padding: 0 32px;
  border-radius: 8px;
  border: 0;

  font-weight: 500;

  background: #835afd;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: background-color 0.2s;

  img {
    margin-right: 8px;
  }

  &:not(:disabled):hover {
    background: #6F4BD8;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}