.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.answered {
    background: #dbdcdd;

    footer .user-info img {
      filter: grayscale(1);
    }
  }

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid #835afd;

    footer .user-info span {
      color: #29292e;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      span {
        margin-left: 8px;
        font-size: 14px;
        color: #737380;
        font-weight: 400;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        gap: 9px;
        color: #737380;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }

        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }
}
